{:paths ["src" "config" "resources"]
 :aliases
 {:run
  {:main-opts ["-m" "conduit.api"]}

  :dev
  {:jvm-opts    ["-Dlogback.configurationFile=./dev/logback-dev.xml"]
   :extra-paths ["dev" "test"]
   :extra-deps
   {ring/ring-devel             {:mvn/version "1.8.1"}
    integrant/repl              {:mvn/version "0.3.1"}
    eftest/eftest               {:mvn/version "0.5.3"}
    ;; Managed transitive eftest dep for Java 11
    org.clojure/core.rrb-vector {:mvn/version "0.1.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner"]}

  :build
  {:extra-paths ["build"]
   :extra-deps  {badigeon/badigeon {:mvn/version "1.1"}}}}
 :deps {org.clojure/clojure    {:mvn/version "1.10.1"}
        org.clojure/spec.alpha {:mvn/version "0.2.176"}
        org.clojure/core.async {:mvn/version "0.7.559"}

        ;; Config and system
        integrant/integrant     {:mvn/version "0.8.0"}
        com.walmartlabs/dyn-edn {:mvn/version "0.2.0"}
        meta-merge/meta-merge   {:mvn/version "1.0.0"}

        ;; Util
        danlentz/clj-uuid {:mvn/version "0.1.9"}

        ;; Logging
        io.pedestal/pedestal.log       {:mvn/version "0.5.7"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3" :exclusions [org.slf4j/slf4j-api]}
        org.slf4j/jul-to-slf4j         {:mvn/version "1.7.30"}
        org.slf4j/jcl-over-slf4j       {:mvn/version "1.7.30"}
        org.slf4j/log4j-over-slf4j     {:mvn/version "1.7.30"}

        ;; HTTP & Websocket
        metosin/reitit-ring {:mvn/version "0.5.11"}
        org.immutant/web    {:mvn/version "2.1.10"}

        ;; Finite State Machine
        metosin/tilakone.core {:mvn/version "0.0.5-SNAPSHOT"}

        ;; Database
        com.taoensso/carmine {:mvn/version "3.1.0"}}}
